In [2]:
import pandas as pd
import math

df = pd.read_csv('attendance_marks.csv')
df.head()

   SID  Attendance  Marks
0    1          88     24
1    2          68     16
2    3          82     20
3    4          90     24
4    5          94     28

In [ ]:
attendance = int(input('Enter attendance: '))
marks = int(input('Enter marks: '))
k = int(input('Enter k: '))

dist = []

for i in range(30):
    x = df['Attendance'][i]
    y = df['Marks'][i]
    euc_dist = math.sqrt((x-attendance)**2 + (y-marks)**2)
    dist.append((euc_dist, i))

dist = dist.sort()

cnt_pass = 0
cnt_fail = 0

for i in range(k):
    idx = dist[i][1]
    if df['']